<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="signinpop-content">
        <p class="signinpop-info">Pour obtenir vos codes d’accès, contactez la MDL via <a href="https://www.instagram.com/mdleuro/">Instagram (@mdleuro)</a>, Néo (un des membres de l’équipe), ou par <a href="mailto:julesdupont02@gmail.com">mail</a></p>

        <input placeholder="Nom d'utilisateur" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-input" required autofocus>
        <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control form-input" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

    <button class="signinpop-btn btn btn-blue" type="submit">Connexion</button>
    </div>
</form>
