body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

.btn{
    border-radius: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);

    font-family: 'Poppins', 'Source Sans Pro', Arial, sans-serif;
}

input{
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

button{
    border: none;
    cursor: pointer;
}

.btn-blue{
    background: rgb(52,152,219);
    background: linear-gradient(90deg, rgba(52,152,219,1) 25%, rgba(66,170,240,1) 100%);

    color: white;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
}




@media screen and (max-width: 840px) {
    html {
        height: 100%;
    }

    .mobile {
        display: block !important;

        background: rgb(52,152,219);
        background: linear-gradient(90deg, rgba(52,152,219,1) 25%, rgba(66,170,240,1) 100%);
        width: 100%;
        height: 100vh;
    }

    .mobile-header {
        padding-left: 30px;
        padding-top: 30px;

        display: flex;
        align-items: center;

        color: white;

        text-transform: uppercase;
    }

    .mobile-logo-lycee {
        width: 50px;
    }

    .mobile-title{
        display: flex;
        flex-direction: column;
        align-self: center;

        padding-left: 15px;
    }

    .mobile-title h2{
        font-weight: 200;
        font-size: 12px;

        margin: 0;
    }

    .mobile-title h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -2px;

        margin: 0;
    }

    .mobile-unavailable {
        color: white;
        text-align: center;
        font-size: 24px;

        margin: 100px 0 0 0;
    }

    .desktop {
        display: none;
    }
}

.mobile{
    display: none;
}




header .logo-lycee{
    width: 100px;
}

header .title-section{
    text-transform: uppercase;

    display: flex;

    padding: 30px;
}

header .title-section a{
    display: flex;
}

header .title{
    display: flex;
    flex-direction: column;
    align-self: center;

    padding-left: 30px;
}

header h2{
    font-weight: 200;
    font-size: 32px;

    margin: 0;
}

header h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -2px;

    margin: 0;
}

header .profil{
    position: absolute;
    top: 30px;
    right: 30px;

    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(52,152,219);
    background: linear-gradient(90deg, rgba(52,152,219,1) 25%, rgba(66,170,240,1) 100%);
    border: 3px solid rgba(52,152,219,1);
    border-radius: 50px;

    color: white;
    font-size: 34px;
}



footer{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 200;

    margin-top: 50px;
}

footer .contact{
    margin: 10px
}

footer .link-footer{
    text-decoration: underline;

    margin: 5px;
}

footer .link-footer-github{
    margin-top: 15px;
}

footer .copyright{
    margin-top: 5px;
}