.content-wrapper{
    margin: 0 50px;
}

.content-title{
    font-weight: 700;

    margin: 0;
}

.content-wrapper h4{
    font-weight: 300;

    margin: 10px 0;
}

.chaudoudoux-wrapper{
    display: block;
    width: 100%;

    background: rgb(52,152,219);
    background: linear-gradient(90deg, rgba(52,152,219,1) 25%, rgba(66,170,240,1) 100%);

    color: white;
    font-weight: 200;

    border-radius: 50px;
    border: 3px solid #2E89C6;

    box-sizing: border-box;

    padding: 15px 30px;

    margin-bottom: 5px;
}

.chaudoudoux-wrapper-seen{
    background: none;

    border-color: #3498DB;

    color: #3498DB;
}

.chaudoudoux-from{
    font-weight: 500;
}

.chaudoudoux-date{
    font-weight: 300;
    font-style: italic;
}

