.content-wrapper{
    padding: 0 50px;
}

.form-title{
    font-weight: 700;
    font-size: 26px;

    margin: 0 0 10px;
}

form label{
    font-style: italic;
}

.toUser-field{
    border: 1px solid #BABABA;
    border-radius: 30px;
    width: 100%;

    box-sizing: border-box;
    padding: 15px 30px;
    margin-top: 10px;

    font-size: 16px;
}

#chaudoudoux_image_bis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 15px;

    border: 1px solid #BABABA;
    border-radius: 3px;

    padding: 10px;
    margin-top: 10px;
}

#chaudoudoux_image_bis img{
    width: 150px;
    height: 99px;
}

.input-image-container{
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-image-container input{
    margin-right: 15px;
}


.field-container{
    margin-bottom: 30px;
}

.text-field{
    border: 1px solid #BABABA;
    border-radius: 3px;
    width: 100%;

    box-sizing: border-box;
    padding: 15px 30px;
    margin-top: 10px;

    font-family: 'Helvetica Neue', serif;
    font-size: 16px;

    resize: none;
}

.text-moderation-label{
    margin: 5px 0;

    font-size: 12px;
}

.text-moderation-label a{
    text-decoration: underline;
}

.submit-btn{
    width: 100%;

    padding: 15px;

    cursor: pointer;
}

#chaudoudoux_image{
    display: none;
}
