{% extends 'base.html.twig' %}

{% block title %}Reversement des bénéfices{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/benefices_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <h3 class="benefices-title">Reversement des bénéfices</h3>
        <a href="https://www.fondationhopitaux.fr/"><img src="{{ asset('img/fondation.png') }}" alt="Logo Fondation"/></a>
        <p class="benefices-text">
            La Maison des Lycéens s'engage dans cette période difficile en reversant l'intégratlité des bénéfices de cette opération à la <a href="https://www.fondationhopitaux.fr/">Fondation Hôpitaux de Paris-Hôpitaux de France</a>, pleinement mobilisée pour apporter un soutien complémentaire, en partenariat avec la Fédération Hospitalière de France, aux hôpitaux français qui sont en première ligne pour accueillir les patients les plus sévèrement atteints par le coronavirus et s’appuient de manière exceptionnelle sur leurs équipes soignantes pour faire face à la pandémie.<br/><br/>
            Les modalités exactes du reversement des bénéfices n'ont pas encore été définies.<br/><br/>
            N'hésitez pas à contacter la MDL pour tout renseignement.
        </p>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}