{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage_style.css') }}">
{% endblock %}

{% block body %}

    <div class="content-wrapper" id="content-wrapper">
        <div class="content-leftpart">
            <h2 class="content-title">Du xx au xx mai, la MDL organise l’opération des chaudoudoux</h2>
            <p class="concept">Le concept est le même que pour les chaudoudoux que vous connaissez, on s’envoie des mots gentils avec une petite image entre élèves, avec nos enseignants, l’administration, le personnel du lycée, etc., et même les parents ! On s’échange des souvenirs, des sentiments; en cette période on essaie de combler la distance qui nous sépare.</p>
            <p class="price">Les chaudoudoux sont fixés au prix d'<span>1€ l’unité (vous pouvez acheter des lots). L’intégralité de nos bénéfices sera reversée à nos hôpitaux</span> <a href="#">(en savoir plus)</a>.</p>
            <p class="signin">Élève, enseignant, personnel de l’administration, du lycée, parent, connectez-vous dès maintenant pour voir si vous avez déjà reçu des chaudoudoux et en envoyer à votre tour !</p>
            <button class="signin-btn btn btn-blue" id="signin">Connexion</button>
            <a href="https://www.helloasso.com/associations/maison%20des%20lyceens%20du%20lycee%20europeen/collectes/collecte-de-dons-de-la-mdl-pour-les-hopitaux" class="dons-btn">Participer à notre collecte de dons pour les hôpitaux en étant extérieur au lycée</a>
        </div>

        <div class="content-rightpart">
            <div class="chaudoudoux-front">
                <p>À: Annie Picard (proviseure)<br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat lacus nec odio malesuada placerat. Nulla at mi fermentum, mattis odio non, pulvinar ligula. Il n'y a aucun Easter Egg dans ce Lorem Ipsum. Sed tempor massa non tortor euismod, in tincidunt sapien varius. Aenean sollicitudin eget eros quis tristique. Donec congue at est eget iaculis. Duis interdum gravida justo, et lobortis ipsum vulputate eget. In quis mollis nulla, sed ornare orci. Sed et commodo orci. Sed dignissim lacus in ex vehicula scelerisque. Suspendisse fermentum facilisis ipsum. Proin commodo libero sed enim fringilla, eget condimentum ex viverra. In hac habitasse platea dictumst. Donec nec tincidunt nunc, pretium venenatis ante. </p>
            </div>
            <div class="chaudoudoux-back"><img src="{{ asset('img/chaudoudoux/lycee.jpg') }}" alt="Photo exemple chaudoudoux"/></div>
        </div>

        <div class="signin-wrapper" id="signinpop">
            <div class="signin-wrapperbis">
                <button id="signinpop-exit"></button>
                {% include 'security/login.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var signin = document.getElementById("signin");
        var signinpop_exit= document.getElementById("signinpop-exit");
        var signinpop = document.getElementById("signinpop");

        signin.onclick = function(){
            signinpop.style.display = "flex";
        };

        signinpop_exit.onclick = function(){
            signinpop.style.display = "none";
        };

        document.onkeydown = function(evt) {
            var isEscape = false;
            if ("key" in evt) {
                isEscape = (evt.key === "Escape" || evt.key === "Esc");
            }
            if (isEscape) {
                signinpop.style.display = "none";
            }
        };
    </script>
{% endblock %}