{% extends 'base.html.twig' %}

{% block body %}
    <h2>Page d'accueil</h2>
    <p>Projet de plateforme web Symfony 5 permettant d'adapter les chaudoudoux à la situation de confinement.</p>
{% endblock %}
