{% extends 'base.html.twig' %}

{% block title %}Modération{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/moderation_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <h3 class="moderation-title">Modération</h3>
        <p class="moderation-text">
            La Maison des Lycéens se veut la plus transparente sur la modération des chaudoudoux.<br/><br/>
            Chaque année lors de l'opération habituelle des chaudoudoux, les élèves faisant partie de l'organisation (les membres de l'équipe de la MDL notamment) ont le droit de vérifier n'importe quel chaudoudoux envoyé pour éviter l'envoi de chaudoudoux comportant des messages de haine, à caractère raciste, homophobe, etc., même si nous savons que ce n'est pas du tout l'esprit du lycée. Ainsi, pour cette opération de chaudoudoux en ligne, la Maison des Lycéens, de la même manière, se réserve le droit de supprimer un chaudoudoux si elle juge qu'elle n'est pas dans l'esprit de l'opération. Nous nous engageons cependant à totalement respecter votre vie privée.<br/><br/>
            N'hésitez pas à contacter la MDL pour tout renseignement.
        </p>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}