{% extends 'base.html.twig' %}

{% block title %}Profil{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <h3 class="profil-title">Mon profil</h3>
        <p class="name">Jules Dupont</p>
        <p class="role">Élève (<span class="classe">1E</span>)</p>
        <p class="credits">Chaudoudoux disponibles: <span>3</span></p>
        <a href="#" class="buy-btn btn btn-blue">Acheter des chaudoudoux</a>
        <a href="#" class="logout-btn btn">Déconnexion</a>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
